<h4><a href="{{ link( request, result ) }}">Name: {{ result.model.contentInfo.name }}</a></h4>


Embed twig template got Content object with id: {{ result.model.contentId }}
<a href="{{ link( request, result, true ) }}">Read more</a>
