{{ render( request, 'Content:controller', 'read', { 'id': result.model.contentInfo.id, 'view': 'full' } ) }}



<section class="ezp-content-location-children">
    {{ render( request, 'ContentLocation:controller', 'children', { 'id': result.model.id, 'view': 'line' } ) }}
</section>
