{{ dispatch( request.createChild( 'content/' ~ result.model.contentInfo.id ) ) }}



<section class="ezp-content-location-children">
{{ dispatch( request.createChild( 'content/locations/' ~ result.model.id ) ) }}
</section>
