<h1><a href="{{ link( request, result, { 'view': 'full' } ) }}">Header</a></h1>

<nav>
    {# Add root folder as a menu item #}
    <a href="{{ link( request, result, { 'view': 'full' } ) }}"{%
    if params.main_result.model.path is defined and result.model.id == params.main_result.model.id %} class="current"{%
    endif %}>{{ result.model.contentInfo.name }}</a>

    {{ render( request, 'ContentLocation:controller', 'children', { 'id': result.model.id, 'view': 'nav_item' }, { 'main_result': params.main_result } ) }}
</nav>
