<h4><a href="{{ link( request, result, { 'view': 'full' } ) }}">Name: {{ result.model.contentInfo.name }}</a></h4>


Line view twig template got Location object with id: {{ result.model.id }}
<a href="{{ link( request, result, { 'view': 'full' }, true ) }}">Read more</a>
