<phpunit
  backupGlobals="false"
  backupStaticAttributes="false"
  bootstrap="bootstrap.php"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
  >
  <testsuites>
    <testsuite name="HiMVC\Core\Base">
      <directory>HiMVC/Core/Base/Tests</directory>
    </testsuite>
    <testsuite name="HiMVC\Core\MVC">
      <directory>HiMVC/Core/MVC/Tests</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist>
      <directory suffix=".php">HiMVC</directory>
      <exclude>
        <directory suffix=".php">HiMVC/Core/Bse/Tests</directory>
        <directory suffix=".php">HiMVC/Core/MVC/Tests</directory>
      </exclude>
    </whitelist>
  </filter>
</phpunit>
