/* Main layout css file for standard design
 */

section#page { width: 988px; overflow: auto; }
article { float: left; width: 72%; }
article pre { overflow-x: scroll; background-color: #eee; padding: 1.2em; }
aside { float: right; width: 27%; }
