<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Site title</title>
    <link rel="stylesheet" type="text/css" href="{{ design( request, 'layout.css' ) }}" />
</head>
<body>
    <section id="page">
    <article>
        {{ view( request, result ) }}

    </article>

    <aside>
        {{ route( request, 'Content:controller', 'read', [ 4, 'embed' ] ) }}
        {# Same as bellow, but route avoids hard coding routes in templates
        {{ dispatch( request.createChild( 'content/4/embed' ) ) }}
        #}
    </aside>
    </section>
</body>
</html>
