/* Main layout css file for standard design
 */

section#page {
    width: 988px;
    overflow: auto;
}

nav {
    display: block;
    background-color: #000;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
}

nav a {
    color: #fff;
}

article {
    float: left;
    width: 72%;
}

article pre {
    overflow-x: scroll;
    background-color: #eee;
    padding: 1.2em;
}
