<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Site title</title>
    <link rel="stylesheet" type="text/css" href="{{ design( request, 'layout.css' ) }}" />
</head>
<body>
    <section>
    <article>
        {{ view( request, result ) }}

    </article>

    <aside>
        {{ dispatch( request.createChild( 'content/4/embed' ) ) }}
    </aside>
    </section>
</body>
</html>
