<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Site title</title>
    <link rel="stylesheet" type="text/css" href="{{ design( request, 'layout.css' ) }}" />
</head>
<body>
<section id="page">
    <header>
        <!-- @todo This view should be cached pr request (the current one) -->
        {{ render( request, 'ContentLocation:controller', 'read', { 'id': 2, 'view': 'header' }, { 'main_result': result } ) }}
    </header>
    <article>
        {{ view( request, result ) }}

    </article>
    <footer>
        Copyright footer text (c) 2012
    </footer>
</section>
</body>
</html>
