<!DOCTYPE html>
<html>
<head>
    <title>{{ result.model.contentId }}</title>
</head>
<body>

    <article>
        {{ view( request, result ) }}
    </article>

    <aside>
        {{ dispatch( request.createChild( 'content/4/embed' ) ) }}
    </aside>
</body>
</html>
